html {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5.5rem;
    overflow-x: hidden;
    background-color: #fbf6f3;
  }

  h1,
  h2,
  h3,
  h4,
  h5{
    font-family: 'Roboto Condensed', sans-serif;
  }

  p{
    font-family: 'Roboto', sans-serif; 
  }

  a{
      text-decoration: none!important;
      color: #000;
  }
  a:hover{
    color: #f29699;
  }

  hr{
      border: 2px solid #f29699;
  }

  .footer{
      background-color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .text-footer{
      font-size: .8em;
  }

  .social{
      margin: 0 5px;
      color: #364f6b;
  }

  .navbar{
      background-color: #FFF;
      color: #364f6b!important;
  }

  .fondo{
      background-image: url("../img/Fondo.png");
      margin: 0;
      padding: 0;
      background-size:100% 100%;
      background-repeat: no-repeat;
  }

  .fondo1{
    background-image: url("../img/fondo-cuadri-inicio.png");
    margin: 0;
    padding: 0;
}

.fondointro{
    background-image: url("../img/fondo-intro.png");
    margin: 0;
    padding: 0;
    background-size:100% 100%;
    background-repeat: no-repeat;
}

  .tituloIntro1{
    font-size: 1.3em;
    color:#FFF;
    text-align: center;
}

.tituloIntro2{
    color: #f29699;
    text-align: center;
}

.active{
    text-decoration: underline !important;
    text-decoration-color: #f29699 !important;
    text-decoration-thickness: 3px !important;
    color: #364f6b!important;
}

.nav-link:hover{
    text-decoration: underline !important;
    text-decoration-color: #f29699 !important;
    text-decoration-thickness: 3px !important;
    color: #364f6b!important;
}

.dropdown-item:hover{
    text-decoration: underline !important;
    text-decoration-color: #f29699 !important;
    text-decoration-thickness: 3px !important;
    background-color: transparent !important;
    cursor: pointer;
}

.cardsIntro{
    margin-top: 20px;
}

.card{
    background-color: #fbf6f3;
    border-radius: 25px;
    color: #364f6b;
    text-transform: uppercase;
}

.card:hover{
    background-color: #f29699;
    border:0;
    color: #fff;
}

.iconosIntro{
    margin: 0;
    padding: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%;
    height: 100%;
}

.card-body{
    padding: 0;
}

.textoIntro{
    font-size: 1.3em;
}

.anotaciones{
    font-size: .7em;
}

.btnCustom{
    background-color: #f29699;
    color: #FFF;
}

.btnCustomInicio{
    background-color:transparent;
    color: #f29699;
    border: 1px solid #f29699;
}

.btnCustomInicio:hover{
    background-color:#f29699;
    color: #FFF;
    border: 1px solid #f29699;
}

.modal-content{
    background-color:transparent;
    border:0!important;
}

.close{
    color:#f29699;
    font-size: 3rem;
    text-shadow: 0 1px 0 transparent;
    opacity: 1;
}

.modal-dialog{
    margin-top: 0!important;
}

.modal-body{
    padding: 0!important;
}

.carousel-control-prev,
.carousel-control-next{
    opacity: 1!important;

@media (max-width: 550px) { 

    .btnCustomInicio{
        font-size: .8em;
    }

}





