html {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 3.7rem;
    overflow-x: hidden;
    background-color: #fbf6f3;
  }

  a{
      text-decoration: none!important;
  }

  hr{
      border: 2px solid #f29699;
  }

  .footer{
      background-color: #FFF;
  }

  .navbar{
      background-color: #FFF;
  }

  .fondo{
      background-image: url("../img/Fondo.png");
      margin: 0;
      padding: 0;
      background-size:100% 100%;
      background-repeat: no-repeat;
  }

  

  .tituloIntro1{
    font-size: 1.3em;
    color:#FFF;
    text-align: center;
}

.tituloIntro2{
    color: #f29699;
    text-align: center;
}

.active{
    text-decoration: underline !important;
    text-decoration-color: #f29699 !important;
    text-decoration-thickness: 3px !important;
}

.nav-link:hover{
    text-decoration: underline !important;
    text-decoration-color: #f29699 !important;
    text-decoration-thickness: 3px !important;
}

.dropdown-item:hover{
    text-decoration: underline !important;
    text-decoration-color: #f29699 !important;
    text-decoration-thickness: 3px !important;
    background-color: transparent !important;
    cursor: pointer;
}

.cardsIntro{
    margin-top: 20px;
}

.card{
    background-color: #fbf6f3;
    border-radius: 25px;
    color: #364f6b;
    text-transform: uppercase;
}

.card:hover{
    background-color: #f29699;
    border:0;
    color: #fff;
}

.iconosIntro{
    margin: 0;
    padding: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%;
    height: 100%;
}

.card-body{
    padding: 0;
}

.textoIntro{
    font-size: 1.3em;
}

.anotaciones{
    font-size: .7em;
}

.btnCustom{
    background-color: #f29699;
    color: #FFF;
}

@media (min-width: 576px) { 

    .textoIntro{
        font-size: 1em;
    }

}

@media (min-width: 768px) { 

    .textoIntro{
        font-size: 1.2em;
    }

 }





